@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Miniver&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 80px;
    font-size: 100%;
}
body{
    font-family: "Poppins";
}

.underline, .underline-40,
.underline-70, .underline-50,
.underline-80 {
    position: relative;
    display: inline-block;
    color: #000;
}

.underline::after {
    content: "";
    position: absolute;
    top: 85px;
    left: 38px;
    width: 50px;
    height: 5px;
    border-radius: 10px;
    background-color: #F3961C;
}
.underline-40::after {
    content: "";
    position: absolute;
    bottom: -5%;
    left: 50px;
    width: 65px;
    height: 5px;
    border-radius: 10px;
    background-color: #F3961C;
}
.underline-70::after {
    content: "";
    position: absolute;
    top: 50px;
    left: 65px;
    width: 100px;
    height: 5px;
    border-radius: 10px;
    background-color: #F3961C;
}
.underline-50::after {
    content: "";
    position: absolute;
    bottom: -5%;
    left: 45px;
    width: 50px;
    height: 5px;
    border-radius: 10px;
    background-color: #F3961C;
}
.underline-80::after {
    content: "";
    position: absolute;
    bottom: -5%;
    left: 60px;
    width: 80px;
    height: 5px;
    border-radius: 10px;
    background-color: #F3961C;
}
/* ==================HEADER================= */
.header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    background-color: #3B141C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(2rem, 2vw + .8rem, 3rem);
    z-index: 20;
}
.header__logo{
    color: #fff;
    padding: 0 1rem;
}
.header__menu{
    display: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
}
.menu__icon{
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
}

input[type="checkbox"]{
    display: none;
}
#sidebar-active:checked + label ~ .navbar{
    transform: translateX(0);
}
.close__icon{
    display: none;
    position: absolute;
    right: 30px;
    top: 3%;
    font-size: 1.5rem;
    cursor: pointer;
    font-weight: bold;
}
.nav__items{
    display: flex;
    gap: 1.4rem;
    list-style: none;
}
.nav__link{
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 30px;
    transition: all .3s ease-in-out;
}
.nav__link:hover{
    border-radius: 30px;
    background-color: #F3961C;
    color: #000;
}
/* ==================MAIN================= */

.main{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.main__herosection{
    min-height: 100vh;
    width: 100%;
    background-color: #3B141C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: clamp(2.5rem, 2vw + 1rem, 3rem);
    margin-top: 4rem;
}
.main__leftsection{
    transform: translateY(-8%);
    padding: 0 2rem;
}
.main__heading{
    color: #F3961C;
    font-size: 3rem;
    font-family: "Miniver";
    font-weight: 600;
}
.main__title{
    margin-top: 5px;
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    width: 70%;
}
.main__text{
    color: #fff;
    margin-top: 20px;
    font-size: 1.2rem;
    width: 75%;
}
.btn{
    padding: 0.8rem 1.4rem;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 3rem;
    margin-right: 1.5rem;
    border-radius: 30px;
}
.btn--orange{
    background-color: #F3961C;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btn--orange::after{
    content: "";
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #fff;
    border-radius: 30px;
    transition: all .3s ease;
}
.btn--orange:hover::after{
    top: 0;
    border-radius: 0;
    z-index: -1;
}
.btn--white{
    padding: 0.7rem 1.6rem;
    border: 2px solid #fff;
    color: #fff;
    background-color: transparent;
    transition: all .3s ease-in-out;
}
.btn--white:hover{
    background: #F3961C;
    border-color: #F3961C;
    color: #000;
}
.rightsection__image{
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.aboutsection{
    min-height: 90vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about__imgcontainer{
    width: clamp(600px, 5vw + 100px, 700px);
    text-align: center;
}
.about__image{
    max-width: 65%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 50%;
}
.about__rightsection{
    text-align: center;
}
.about__title{
    text-align: center;
    text-transform: uppercase;
    padding: 3rem 0;
    position: relative;
}

.about__text{
    text-align: justify;
    padding: clamp(1.8rem, 1vw + 1rem, 2rem);
    font-size: 1.2rem;
    line-height: 2;
}
.about__social-icons{
    height: fit-content;
    margin-top: 12px;
}
.about__link{
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    transition: all .3s ease-in-out;
}
.about__link:hover{
    color: #F3961C;
}
.about__icon{
    font-size: 2rem;
    padding: 0 .5rem;
}
.menusection{
    min-height: 100vh;
    width: 100%;
    background-color: #222;
    padding: 4rem 0;
    text-align: center;
}
.menu__title{
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
}

.menu__cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 6rem;
    padding: 7rem 5rem;
}
.menu__card{
    text-align: center;
}
.menu__image{
    max-width: 70%;
    height: auto;
    aspect-ratio: 1;
}
.card__title{
    color: #fff;
    font-size: 1.4rem;
    padding: 1.5rem 0;
}
.card__text{
    color: #fff;
    font-size: 1.1rem;
}
.testimonialssection{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 4rem 7rem;
    text-align: center;
}
.testimonials__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
}

.swiper-wrapper{
    padding: 5rem 0;
}
.testimonials__swiper{
    margin-top: 5rem;
}
.testimonials__slide{
    display: flex !important;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}
.testimonials__image{
    border-radius: 50%;
    max-width: 60%;
    height: auto;
    display: block;
    user-select: none;
}
.testimonials__name{
    font-size: 1.4rem;
}
.testimonials__text{
    text-align: center;
    width: 80%;
}
.swiper-pagination{
    color: #F3961C !important;
}
.swiper-button-prev,
.swiper-button-next
{
    color: #F3961C !important;
    font-weight: bold;
}
.swiper-pagination-bullet{
    background: #F3961C !important;
}
.gallerysection{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    text-align: center;
    padding: 4rem 0;
}
.gallery__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
}

.gallery__imagewrapper{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 7rem;
}
.gallery__image{
    max-width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 16px;
    transition: .3s ease-in-out;
}
.gallery__image:hover{
    transform: translateY(-5%);
    cursor: zoom-in;
}

.contactsection{
    text-align: center;
    min-height: 100vh;
    width: 100%;
    background-color: #fdf5f7;
    padding: 4rem 0;
}
.contact__title{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
}

.contact__details{
    text-align: start;
    padding: 5rem;
    display: flex;
    justify-content: space-between;
}
.contact__items{
    font-size: clamp(1rem, 1vw + .1rem, 2rem);
    list-style: none;
    line-height: 3;
}
.contact__link{
    text-decoration: none;
    color: #000;
    transition: all .3s ease-in-out;
}
.contact__link:hover{
    color: #F3961C;
}
.contact__icon{
    padding: 0 2rem;
    font-weight: 600;
}
.contact__input{
    width: 90%;
    padding: .8rem;
    border: 2px solid;
    border-color: #e0e0e0;
    border-radius: 6px;
    outline: none;
    position: relative;
    margin-bottom: 36px;
    transition: all .3s ease;
}
.contact__textarea{
    width: 90%;
    height: 90px;
    padding: .6rem .8rem;
    border: 2px solid;
    border-color: #e0e0e0;
    border-radius: 6px;
    outline: none;
    position: relative;
    transition: all .3s ease;
}
.contact__input:focus,
.contact__textarea:focus{
    border-color: #F3961C;
}
.contact__textarea::placeholder{
    position: absolute;
    left: 2%;
    top: 10%;
    font-family: "Poppins";
}
.contact__input::placeholder{
    position: absolute;
    left: 2%;
}
.btn--brown{
    background-color: #3B141C;
    color: #fff;
    transition: all .3s ease;
    border: 2px solid;
}
.btn--brown:hover{
    background: transparent;
    border-color: #000;
    color: #000;
}

/* ==================FOOTER================= */

.footer{
    height: 10vh;
    background-color: #222;
    color: #fff;
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
.footer__social-icons{
    width: fit-content;
    margin-left: 50px;
}
.footer__link{
    text-decoration: none;
    color: #fff;
    padding: 0 .5rem;
    font-size: 1.5rem;
    transition: .3s ease-in;
}
.footer__link:hover{
    color: #F3961C;
}
.footer__text{
    display: flex;
    gap: 1rem;
}